.container {
  padding: 5px;
  overflow: hidden;
  margin: 10px;

}

.description-container {
  max-height: auto;
}

.text {
  font-weight: normal;
}

img {
  padding-right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  float: left;
}

.flex-container {
  padding: 0;
  margin-top: 0;
  list-style: none;
  display: flex;
}

.space-between {
  justify-content: space-between;
}


.flex-item {
  font-weight: bold;
  font-size: 1em;
}

