<div class="image">
  <h1 class="title">MyCinema</h1>
</div>

<div class="container">
  <div class="col-cell">
    <mat-card>
      <mat-card-title>About us</mat-card-title>
      <mat-card-subtitle>Some info</mat-card-subtitle>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat aliquam libero at venenatis.
          Quisque sollicitudin sollicitudin metus, a consectetur neque ullamcorper eu. Etiam posuere, tortor
          eu
          cursus facilisis, dui nibh maximus purus, a bibendum lacus enim vitae mi. Pellentesque vitae semper
          diam. Duis at gravida enim, hendrerit fringilla libero. Phasellus nec dui scelerisque, luctus magna
          sed,
          vestibulum leo. Sed nunc libero, efficitur in rhoncus eu, tincidunt imperdiet tellus. Nam eget odio
          maximus diam consectetur auctor. Proin ac ex sed ex lacinia luctus sit amet sed tellus. Proin
          pretium ac
          velit a convallis. Ut ultrices leo a purus fringilla tristique. Suspendisse dignissim efficitur
          tempus.
        </p>
        <p>
          Suspendisse potenti. Cras pulvinar tempor volutpat. Phasellus quis auctor nunc, eget ullamcorper
          tortor.
          Nulla in nunc lobortis, posuere eros nec, varius libero. Fusce elementum nunc sollicitudin mollis
          bibendum. Aenean pharetra sit amet ligula ac commodo. Duis diam dolor, lobortis at sodales in,
          hendrerit
          sit amet leo. Nulla tristique est a felis placerat, a porttitor metus bibendum.
        </p>
        <p>
          Fusce sed purus lectus. Maecenas ultrices rutrum tincidunt. In eleifend erat feugiat lorem dapibus,
          eget
          mollis leo sagittis. Quisque eget urna libero. Fusce accumsan, odio a mollis tristique, lorem augue
          fringilla libero, a feugiat neque nulla vel nisl. Donec tristique tristique erat, vitae semper enim
          ornare faucibus. Nam feugiat dapibus lacus, maximus condimentum est rutrum at. Proin luctus dapibus
          tempor. In suscipit, mauris sed hendrerit molestie, libero risus ullamcorper ipsum, vel egestas
          libero
          sapien interdum felis. Donec efficitur quis velit at scelerisque. Nullam feugiat arcu at tellus
          dignissim, vel fringilla libero vestibulum. Proin ut sollicitudin libero, eget placerat justo. Etiam
          ultrices tincidunt eros id scelerisque. Proin consectetur metus odio, non sodales mi iaculis at.
        </p>
        <p>
          Suspendisse at ante magna. Curabitur ex lectus, scelerisque ut auctor eget, fringilla vel diam.
          Fusce in
          pharetra justo, at tempus neque. Aliquam id est quis metus vulputate vehicula in in nisi. Integer
          vulputate egestas tortor, sit amet placerat metus molestie non. Donec eget tortor nec odio efficitur
          condimentum eget vitae ex. Sed posuere nibh nec quam molestie, ac consequat lectus feugiat. Nam
          pulvinar
          dolor turpis. Nunc tincidunt augue rhoncus tortor suscipit, non bibendum justo laoreet. Aenean
          pulvinar
          nisi in semper euismod.
        </p>
        <p>
          Duis a vulputate tortor. Nullam id diam tortor. Mauris sed commodo velit. Nam sed nibh velit. Morbi
          cursus, est vitae vehicula viverra, nisi nisl venenatis neque, nec faucibus urna nulla a magna. Nam
          scelerisque nisl orci, vel convallis arcu iaculis eget. Pellentesque habitant morbi tristique
          senectus
          et netus et malesuada fames ac turpis egestas. Proin pretium vestibulum erat at semper. Integer ac
          vestibulum augue, dapibus varius orci. Suspendisse pellentesque, libero sed ultrices hendrerit,
          lacus
          nibh maximus urna, vel aliquet nibh est eget arcu. Suspendisse potenti. Sed maximus, turpis nec
          molestie
          mattis, lectus nisl accumsan tellus, nec luctus sem nibh nec mauris. Maecenas eu nunc porttitor,
          accumsan odio ut, eleifend nunc. In molestie suscipit odio vel viverra. Donec imperdiet ultrices
          turpis,
          dictum condimentum felis tincidunt ut. In mollis vel odio et feugiat.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-cell">
    <mat-card>
      <mat-card-title>Where are we?</mat-card-title>
      <mat-card-subtitle>Come today!</mat-card-subtitle>
      <mat-card-content>
        <app-map></app-map>
      </mat-card-content>
    </mat-card>

  </div>
</div>
